<h1>Your vocabulary...</h1>

<p class = "score" id = "bad">needs some serious work. Please consider reading more books.</p>
<p class = "score" id = "okay">has room for improvement, but overall is unobjectionable.</p>
<p class = "score" id = "good">dare I say, is pretty good. Carry on young whippersnapper.</p>
  
<div class = "avg_length"></div>

<div id="chart">
</div>

