<h1>Your vocabulary...</h1>


<p>needs some serious work. Please consider reading more books.</p>
<p>has room for improvement, but overall is unobjectionable.</p>
<p>dare I say, is pretty good. Carry on young whippersnapper.</p>

<div id="chart">
</div>

