body {
  font-family: courier;
}

.chart_area {
    height: 100%;
    display: table;
    margin: auto;
    vertical-align: middle;
}

.home {
    width: 205px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.heading {
    position: relative;
    left: 20px;
}

.heading h4 {
    margin-left: 4px;
}